.root{
 -fx-background-color:linear-gradient(#F2FEFF, #E9FFF9, #E9FEFF);
 -fx-font-size: 12pt;
}
.label{
  -fx-text-fill: black;
  -fx-font-weight: bold;
  -fx-font-size: 18pt;
}
.labels{
  -fx-background-color: #001B25;
  -fx-text-fill: white;
  -fx-padding: 10px 10px;
  -fx-font-weight: bold;
  -fx-font-size: 20pt;
  -fx-background-radius: 2;
}
.backgroundBlue{
 -fx-background-color: #001B25;

}
.button{
  -fx-background-color:
      #001B25,
      linear-gradient(#001B25 0%, #001B25 20%, #14484F 100%),
      linear-gradient(#001B25, #14484F),
      radial-gradient(center 50% 0%, radius 100%, #14484F, #001B25);
  -fx-background-radius: 5,4,3,5;
  -fx-background-insets: 5,1,2,0;
  -fx-text-fill: white;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
  -fx-font-family: "Times_New_Roman";
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-padding: 12 24 12 24;
}
.button:pressed {
-fx-background-insets: 3,3,3,3;
}
.button:hover {
  -fx-background-color:
      #3a6287,
      linear-gradient(#001B25 0%, #001B25 20%, #3a6287 100%),
      linear-gradient(#001B25, #3a6287),
      radial-gradient(center 50% 0%, radius 100%, #3a6287, #001B25);
}
